.immi__brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.immi__brand div {
  flex: 1;
  /* max-width: 100px;
  min-width: 100px; */
  margin: 4rem;
  display: flex;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}
.immi__brand div img {
  max-width: 180px;
}
/* .immi__brand-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: grey;
} */
@media screen and (max-width: 850px) {
  .immi__brand div {
    margin: 2rem;
  }
  .immi__brand div img {
    max-width: 150px;
  }
}
