.screen__section-ability-content h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.screen__section-ability-content p {
  color: var(--color-text);
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 2rem;
}

.screen__section-logo-container {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
  align-items: baseline;
  grid-template-columns: repeat(5, 1fr);
}
.screen-container-a {
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.screen-container-a p {
  color: black;
  font-family: var(--font-family2);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  margin-top: 1rem;
}
.screen-img-cont {
  padding: 2rem;
  justify-content: baseline;
  background: rgb(209, 208, 224);
  background: linear-gradient(
    126deg,
    rgb(234, 233, 237) 0%,
    rgb(239, 239, 244) 100%
  );
  border-radius: 120px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.screen-img-cont img {
  width: 70px;
  height: 70px;
}
.screen__section-help {
  text-align: center;
}
.item11 {
  grid-column: auto;
}
@media screen and (max-width: 1270px) {
  .screen__section-logo-container {
    flex-direction: column;
  }
  .screen__section-logo-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .item11 {
    grid-column: auto;
  }
}

@media screen and (max-width: 700px) {
  .screen__section-ability-content p {
    font-size: 16px;
    margin: 0;
    margin-top: 2rem;
  }
  .screen__section-ability-content h1 {
    font-size: 20px;
    margin: 0;
    line-height: 30px;
  }

  .screen__section-logo-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
