.immi__possibility {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
}
.immi__possibility-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 5rem;
}
.box {
  color: blueviolet;
  height: 100px;
  background-color: aquamarine;
}
